@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Saira", ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
